*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    user-select: none;
    text-shadow: 0px 0px 10px rgba(92, 90, 90, 0.793);
}
p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    user-select: none;
    text-transform: capitalize;
    text-shadow: 0px 0px 10px rgba(92, 90, 90, 0.793);
}
a{
    text-decoration: none;
    user-select: none;
    text-transform: capitalize;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: 0px 0px 10px rgba(92, 90, 90, 0.793);
}