:root{
    --favcolor: white;
}
header{
    width: 100%;
    height: 250px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 50px 0 10px 0;
    >div{
        &:nth-of-type(1){
            /* border: 1px solid red; */
            margin: 30px 0;
            >figure{
                width: 100%;
                height: 100%;
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    filter: drop-shadow(10px 7px 5px gray);
                    transition: .5s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
        &:nth-of-type(2){
            /* border: 1px solid blue; */
            margin: 30px 0;
            >.h1{
                display: flex;
                gap: 25px;
                padding-top: 40px ;
                >h1{
                    font-size: 30px;
                    color: black;
                    font-weight: normal;
                    text-shadow: 0px 0px 10px rgba(92, 90, 90, 0.793);
                    /* text-shadow: none; */
                }
                >a{
                    border: 1px solid rgba(0, 0, 0, 0.448);
                    border-radius: 5px;
                    font-size: 15px;
                    color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 20px;
                    text-shadow: none;
                    transition: .3s;
                    &:hover{
                        /* transform: translateY(4px); */
                        background-color: black;
                        color: white;
                        text-shadow: none;
                    }
                }
                >div{
                    >.icon{
                        /* border: 1px solid red; */
                        font-size: 25px;
                        width: 40px;height: 40px;
                        display: flex;
                        /* justify-content: center; */
                        align-items: center;
                        text-shadow: none;
                        color: black;
                    }
                }

            }
            >.a{
                display: flex;
                gap: 15px;
                padding-top: 20px;
                >a{
                    color: black;
                    font-weight: normal;
                    font-size: 18px;
                    transition: 0;
                    &:hover{
                        text-shadow: none;
                    }
                }
            }
            >.p{
                padding-top: 20px;
                >p{
                    color: black;
                    font-weight: normal;
                }
            }
        }
    }
}
section{
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 50px auto;
    /* border: 2px solid darkblue; */
    div{
        /* border: 1px solid red; */
        aspect-ratio: 1 / 1;
        overflow: hidden;
        position: relative;
        top: 0;left: 0;
        box-shadow: 10px 5px 5px gray;
        >a{
            position: relative;
            width: 100%;height: 100%;
            display: block;
            >figure{
                width: 100%;
                height: 100%;
                margin: 0;
                position: relative;
                z-index: 1;
                &:hover{
                    &::after{
                        opacity: 1;
                    }
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.39);
                    position: absolute;
                    top: 0;left: 0;
                    /* visibility: hidden; */
                    opacity: 0;
                    transition: opacity 0.3s ;
                }
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
        }
    }
}
.footer {
    width: 100%;
    background-color: #111;
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-pic {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow:
    0 0 10px rgb(255, 212, 163),
    0 0 25px rgba(162, 154, 116, 0.488),
    0 0 50px rgba(76, 70, 64, 0.322);

  }
  
  .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .profile-pic:hover {
    transform: scale(1.05);
  }
  
  .social-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.434);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .profile-pic:hover .social-overlay {
    opacity: 1;
  }
  
  .social-overlay a {
    color: #fff;
    font-size: 40px;
    transition: transform 0.3s, color 0.3s;
  }
  
  .social-overlay a:hover {
    color: #000000;
    transform: scale(1.6);
  }
  
  .footer-text {
    font-size: 20px;
    color: #f7f4f4;
    margin-top: 10px;
    text-align: center;
    >strong{
      font-size: 25px;
    }
  }
  .fixed-profile {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: visible;
    z-index: 1000;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      display: block;
    }
  
    .social-icons {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column; 
      gap: 15px;
  
      a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.6);
        color: white;
        border-radius: 50%;
        text-decoration: none;
        font-size: 20px;
        opacity: 0;
        transform: translateX(-40px);
        transition: all 0.4s ease;
  
        &:hover {
          transform: translateX(0) scale(1.2);
          font-size: 30px;
        }
      }
    }
  
    &:hover {
      .social-icons a {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

